* {
	box-sizing: border-box;
}

header {
	background-color: #F8F6F2;
}

h1 {
	font-family: 'Delius Swash Caps', sans-serif;
	display: inline-block;
	float:left;
	font-size: 36px;
	margin: 15px;
	padding: 5 10 10 10;
	color: #FF7961;
}

h2 {
	font-family: 'Signika Negative', serif;
	font-size: 72px;
	color: #F8F6F2;
	text-shadow: 2px 2px #998F9F;
}

p {
	font-family: 'Signika Negative', serif;
	font-size: 32px;
	color: #F8F6F2;
	text-shadow: 2px 2px #998F9F;
	line-height: 100%;
	text-align: bottom;
	padding-bottom: 180px;
}

nav {
	font-family: 'Signika Negative', serif;
	font-size: 24px;
	font-weight: 400;
}

nav a {
	text-decoration: none;
	color: #998F9F;
	text-transform: uppercase;
	display: inline-block;
/*	padding-right: 15px;
	padding-top: 25px;*/
	float: right;
	margin: 15px;
	padding: 10px;
}

nav a:hover {
	background-color:#FF7961;
	color:#F8F6F2;
}

#wrapper {
	background: url("bike.JPG");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	line-height: 120%;
	padding-top: 200px;
	padding-right: 200px;
	padding-left: 200px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}