body {
	color: white;
	background: url("MisoRamen.jpg");
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 120px;
	padding-left: 80px;
	text-align: center;
}

h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 7em;
	line-height: 30%;
}

h2 {
	font-family: 'Noto Sans', sans-serif;
	padding-bottom: 50px;
}

p {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2em;
	padding-left: 430px;
	padding-right: 430px;
	padding-top: 15px;
}

hr {
	width: 150px;
	color: #FFFFFF;
	border-color: #FFFFFF;
}